/* Popover.css */
.popover-container {
  display: inline-block;
  position: relative;
}

.popover-content {
  position: absolute;
  z-index: 50;
  width: 200px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(229, 231, 235, 0.6);
  padding: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  animation: popover-fade-in 0.2s ease-out;
  bottom: 100%;
  left: 0;
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}
.status-popover-header {
  font-size: 10px;
  font-weight: 400;
  color: #6a7282;
  padding: 4px 0px;
}

.popover-content .status-item-btn {
  background-color: transparent;
  border: none;
  text-align: start;
  padding: 10px;
  font-size: 11px;
  border-radius: 6px;
  color: #364153;
  cursor: pointer;
}
.popover-content .status-item-btn:hover {
  background-color: #f9fafb;
  color: #101828;
}

.popover-content .status-item-btn.active {
    background-color: #f9fafb;
    color: #101828;
    font-weight: 500;
}
.status-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #101828;
}
.status-indicator {
  display: flex;
  align-items: center;
  gap: 6px;
}

@keyframes popover-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40;
  background: transparent;
  cursor: default;
}
