.employee-detail-page {
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow-y: auto;
}

.top-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-actions > .back-btn {
    font-size: 20px;
    color: #6f6f6f;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.top-actions > .back-btn:hover {
    background-color: rgb(245, 245, 245);
}

.top-actions > div {
    display: flex;
    gap: 10px;
}
.top-actions > div > button {
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.set-status-btn.active {
    background-color: #fdeaea;
    color: #d92d20;
    border: 1px solid #d92d20;
}
.set-status-btn.active:hover {
    color: #fdeaea;
    background-color: #d92d20;
    border: 1px solid #d92d20;
}
.set-status-btn.inactive {
    background-color: #e0f5ea;
    color: #008a4a;
    border: 1px solid #008a4a;
}
.set-status-btn.inactive:hover {
    background-color: #008a4a;
    color: #e0f5ea;
    border: 1px solid #008a4a;
}
.edit-btn, .cancel-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    color: #626262;
    border: solid 1px #E7E7E7;
}
.edit-btn > .icon, .cancel-btn > .icon {
    font-size: 14px;
}

.edit-btn:hover, .cancel-btn:hover {
    background-color: #E7E7E7;
}
/* .main-info > div > .active{
    background-color: #e0f5ea;
    color: #008a4a;
}
.main-info > div > .inactive{
    background-color: #fdeaea;
    color: #d92d20;
} */


/* EMPLOYEE'S DETAILS */
.detail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}

.detail-container > section{
    background-color: transparent;
    border: solid 1px #E7E7E7;
    border-radius: 10px;
    padding: 25px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.05); */
}
.cl-2 {
    grid-column: 1 / 3;
}

.employee-header {
    display: flex;
    gap: 30px;
    align-items: center;
}
.employee-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    color: #6f6f6f;
    font-size: 35px;
    font-weight: 400;
}
.main-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-info > h1 {
    color: #575757;
    font-size: 25px;
    font-weight: 500;
}
.main-info > p {
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400;
}
.main-info > div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.main-info > div > p {
    font-size: 14px;
    color: #a7a7a7;
}
.main-info > div > .status-tag {
    font-size: 13px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 20px;

}
.main-info > div > .active{
    background-color: #e0f5ea;
    color: #008a4a;
}
.main-info > div > .inactive{
    background-color: #fdeaea;
    color: #d92d20;
}


.personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.personal-info > header {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #6f6f6f;
}
.personal-info > header > .icon {
    font-size: 16px;
}
.personal-info > header > h2 {
    font-size: 13px;
    font-weight: 400;
}

.forms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}
.forms-container > .form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.forms-container > .form-input > label{
    font-size: 13px;
    color: #6f6f6f;
}
.forms-container > .form-input > input {
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}
.forms-container > .form-input > input:disabled {
    background-color: #f3f3f5;
}
.forms-container > .form-input > input:focus {
    /* outline: #e2e2e2 3px solid; */
    outline: none;
    border-color: #a1a1a1;
}