.employees-page {
    display: flex;
    gap: 15px;
    flex-direction: column;
}


.table-container {
    width: 100%;
    overflow-x: auto; 
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #6f6f6f;
    overflow-y: scroll;
}

table thead tr {
    background-color: #fafafa;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E7E7E7;
}

table th {
    font-weight: 600;
    color: #6f6f6f;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

.status-tag {
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
}
.status-tag.status-active {
    background-color: #e0f5ea;
    color: #008a4a;
}
.status-tag.status-inactive {
    background-color: #fdeaea;
    color: #d92d20;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 5px;

    background: transparent;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 7px 8px;
    cursor: pointer;
    font-size: 13px;
    color: #6f6f6f;
    font-weight: 400;
}
.action-btn:hover {
    background-color: #f0f0f0;
}

/* Mensaje de error */
.error-message {
    color: #d92d20;
    font-weight: 500;
    padding: 10px;
    background-color: #fdeaea;
    border: 1px solid #f9c0bc;
    border-radius: 8px;
}

/* --------------------------------------------------------------------- */
/* OVERVIEW SECTION */
/* --------------------------------------------------------------------- */
.overview-section {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.overview-section .dashboard-card {
    flex: 1;
    display: flex;
    padding: 18px 12px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    gap: 10px;
}
.overview-section .dashboard-card .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: white;
    width: 35px;
    height: 35px;
    align-self: center;
    border-radius: 6px;
}
.overview-section .dashboard-card .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.overview-section .dashboard-card .details .statistic {
    font-size: 12px;
    color: #a3a3a3;
    font-weight: 400;
}
.overview-section .dashboard-card .details .value {
    font-size: 24px;
    font-weight: 400;
    color: rgb(44, 44, 44);
}

/* --------------------------------------------------------------------- */
/* FILTERS SECTION */
/* --------------------------------------------------------------------- */
.filters-section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    /* background-color: #fafafa;
    padding: 12px; */
    border-radius: 7px;
}
.filters-section .creation-and-search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.filters-section .creation-and-search .search-bar {
    flex: 1;
    margin-right: 15px;
    display: flex;
    background-color: white;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    border: solid 1px #E7E7E7;
    align-items: center;
}
.filters-section .creation-and-search .search-bar .icon{
    color: #A7A7A7;
}
.filters-section .creation-and-search .search-bar input {
    width: 100%;
    border: none;
    font-size: 12px;
}
.filters-section .creation-and-search .search-bar input:focus {
    border: none;
    outline: none;
}
.filters-section .creation-and-search .search-bar:focus-within {
    border-color: #A7A7A7;
}

.filters-section .creation-and-search button {
    background-color: #6f6f6f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.filters-section .filters {
    display: flex;
    gap: 15px;
}
.filters-section .filters .filter-item {
    display: flex;
    align-items: center;
    gap: 6px;
}
.filters-section .filters .filter-item label {
    font-size: 13px;
    font-weight: 500;
    color: #6f6f6f;
    margin-right: 3px;
}
.filters-section .filters .filter-item .filter-btn {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    color: #6f6f6f;
}
.filters-section .filters .filter-item select {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    height: 27px;
    font-size: 12px;
    cursor: pointer;
    color: #6f6f6f;
}

.filters-section .filters .filter-item select:focus {
    outline: none;
    background-color: #f5f5f5;
    border-color: #A7A7A7;
}

.filters-section .filters .filter-item .reset-filter-btn {
    font-size: 16px;
    color: #A7A7A7;
    cursor: pointer;
}
.filters-section .filters .filter-item .reset-filter-btn:hover {
    color: #777777;
}
