.employees-page {
    display: flex;
    gap: 22px;
    flex-direction: column;
    padding: 25px 20px;
    height: 100%;
    overflow-y: auto;
}

/* --------------------------------------------------------------------- */
/* TABLE EMPLOYEES */
/* --------------------------------------------------------------------- */
.table-container {
    width: 100%;
    overflow-x: auto; 
    border: 1px solid rgba(229,231,235,0.6);
    border-radius: 8px;
    flex: 1;
}

.table-container > table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    color: #6f6f6f;
    overflow-y: scroll;
}

.table-container > table > thead > tr {
    background-color: #f9fafb;
}
.table-container > table > thead > tr > th{
    color: #6a7282;
    user-select: none;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
}


.table-container > table > thead > tr > th, .table-container > table > tbody > tr > td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(229,231,235,0.6);
}
.table-container > table > tbody > tr > td {
    padding: 10px 15px;
    color: #364153;
    font-size: 12px;
    font-weight: 300;
}
.table-container > table > tbody > tr > td.bold {
    color: #0a0a0a;
    font-weight: 400;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr:hover {
    background-color: #f9fafb;
}

.status-tag {
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 10px;
}
.status-tag.status-active {
    background-color: #d1fae5;
    color: #065f46;
}
.status-tag.status-inactive {
    background-color: #fee2e2;
    color: #991b1b;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 5px;

    background: white;
    border: 1px solid rgba(229,231,235,0.6);
    border-radius: 8px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #364153;
    font-weight: 400;
}
.action-btn:hover {
    background-color: #f9fafb;
}

.error-message {
    color: #d92d20;
    font-weight: 300;
    font-size: 12px;
    padding: 10px;
    background-color: #fdeaea;
    border: 1px solid #f9c0bc;
    border-radius: 8px;
}

/* --------------------------------------------------------------------- */
/* OVERVIEW SECTION */
/* --------------------------------------------------------------------- */
.overview-section {
    display: flex;
    gap: 15px;
}
.overview-section > .dashboard-card {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: white;
    box-shadow: 
        0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(229,231,235,0.6);
    border-radius: 10px;
    gap: 10px;
}
.overview-section > .dashboard-card > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: 8px;
}
.overview-section > .dashboard-card > .details > .statistic {
    font-size: 10px;
    color: #6a7282;
    font-weight: 400;
    margin-bottom: 4px;
}
.overview-section > .dashboard-card > .details > .value {
    font-size: 22px;
    font-weight: 500;
    color: #0a0a0a;
}

/* --------------------------------------------------------------------- */
/* FILTERS SECTION */
/* --------------------------------------------------------------------- */
.filters-section {
    display: flex;
    flex-direction: column;
}
.filters-section > .creation-and-search {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
.filters-section > .creation-and-search > .search-bar {
    flex: 1;
    display: flex;
    background-color: #f9fafb;
    border: solid 1px rgba(229,231,235,0.6);
    padding: 0px 10px;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    color: #6a7282;
}
.filters-section > .creation-and-search > .search-bar input {
    width: 100%;
    color: #0a0a0a;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    font-size: 12px;
    font-weight: 300;
    transition: all 1s ease;
}
.filters-section > .creation-and-search > .search-bar > input:focus {
    border: none;
    outline: none;
}
.filters-section > .creation-and-search > .search-bar > input::placeholder {
    color: #99a1af;
}
.filters-section > .creation-and-search > .search-bar:focus-within {
    /* border-color: #A7A7A7; */
    outline: 1.5px solid #101828;
}

.filters-section > .creation-and-search > button {
    border: none;
    padding: 0px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: 7px;
    transition: all 0.3s ease;
}
.filters-section > .creation-and-search > .add-employee-btn {
    background-color: #101828;
    color: white;
    border: 1px solid #101828;
}
.filters-section > .creation-and-search > .add-employee-btn:hover {
    background-color: #1a202e;
}
.filters-section > .creation-and-search > .export-data-btn {
    background-color: white;
    color: #364153;
    border: 1px solid rgba(229,231,235,0.6);
}
.filters-section > .creation-and-search > .export-data-btn:hover {
    background-color: #f9fafb;
}

.filters-section > .filters {
    display: flex;
    gap: 15px;
}
.filters-section > .filters > .filter-item {
    display: flex;
    align-items: center;
    gap: 6px;
}
.filters-section .filters .filter-item label {
    font-size: 13px;
    font-weight: 300;
    color: #3b3b3b;
    margin-right: 3px;
}
.filters-section .filters .filter-item > button {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(229,231,235,0.6);
    padding: 7px 10px;
    font-size: 11px;
    font-weight: 300;
    cursor: pointer;
    color: #6f6f6f;
}
.filters-section .filters .filter-item > button:hover {
    background-color: #f9fafb;
}
.filters-section .filters .filter-item select {
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgba(229,231,235,0.6);
    height: 30px;
    font-size: 11px;
    font-weight: 300;
    cursor: pointer;
    color: #6f6f6f;
}

.filters-section .filters .filter-item select:focus {
    outline: none;
    background-color: #f9fafb;
    border-color: #A7A7A7;
}

.filters-section .filters .filter-item .reset-filter-btn {
    font-size: 16px;
    color: #4c4c4c;
    cursor: pointer;
}
.filters-section .filters .filter-item .reset-filter-btn:hover {
    color: #101828;
}

/* --------------------------------------------------------------------- */
/* LOADER */
/* --------------------------------------------------------------------- */
.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    padding: 32px;
}

.spinner-colors {
    color: #6a7282;
}
