main {
    height: 100vh;
    width: 100wh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fafafa;
    color: black;
}

#forms-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    padding: 50px 30px;
    border-radius: 20px;
}
#forms-container.forms-error {
    gap: 25px;
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#header h1 {
    font-size: 1.4rem;
    font-weight: 600;;
}
#header h4 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #767677;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-container label {
    font-size: 0.75rem;
    font-weight: 400;
}
.input-container input {
    font-size: 0.75rem;
    font-weight: 500px;

    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    width: 350px;
}
.input-container select{
    font-size: 0.75rem;
    font-weight: 500px;
    
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    width: 350px;

    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
}
.signin-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 15px;
}
.signin-container button {
    font-size: 0.8rem;
    font-weight: 600;

    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #4252FF;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.7s ease;
}
.signin-container button:hover {
    scale: 1.04;
    opacity: 1;
}
.signin-container p {
    font-size: 0.7rem;
    font-weight: 300;
}
.signin-container .link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    color: black;
}

#error-message {
    padding: 10px;
    background-color: #f2dede;
    border: solid 1px #ebccd1;
    border-radius: 10px;
    color: #b04442;
}
#error-message h4 {
    font-size: 13px;
    font-weight: 500;
}
#error-message p {
    font-size: 12px;
    font-weight: 300;
}