main {
    height: 100vh;
    width: 100wh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: #fafafa;
    color: black;

    overflow-x: hidden;
}

main.sidebar-hidden #sidebar {
    margin-left: -320px;
}

#logout-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-size: 28px;
    transition: all 0.6s ease;
}
#logout-btn:hover {
    opacity: 1;
    scale: 1.1;
}

#views {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #E7E7E7;
}