main {
    height: 100vh;
    width: 100wh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: #fafafa;
    color: black;

    overflow-x: hidden;
}

main.sidebar-hidden #sidebar {
    margin-left: -310px;
}

#logout-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-size: 28px;
    transition: all 0.6s ease;
}
#logout-btn:hover {
    opacity: 1;
    scale: 1.1;
}

#views {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: solid 1px #E7E7E7;
    overflow-x: hidden;
    overflow-y: auto;
}

#view-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #A7A7A7;
    align-items: center;
}
#sidebar-icon {
    font-size: 18px;
    cursor: pointer;
}
#view-info p {
    font-weight: 500;
    font-size: 14px;
}

#view-info .header-content {
    display: flex;
    align-items: center;
    gap: 2px;
}
#view-info .header-content .arrow-icon {
    font-size: 13px;
}
#view-info .header-content .page-title {
    color: black;
}