#sidebar {
    width: 310px;
    height: 100%;
    border-radius: 12px;
    border: 1px solid rgba(229,231,235,0.6);
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 
        0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px -1px rgba(0, 0, 0, 0.1);

    transition: margin-left 0.3s ease-in-out;
}

.profile-info {
    display: flex;
    gap: 10px;
    color: #575757;
    padding: 15px;
    border-bottom: 1px solid rgba(229,231,235,0.6);
    align-items: center;
}
.user-image-border {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.user-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #101828;
}
.user-data h1 {
    font-size: 13px;
    font-weight: 400;
    color: #0a0a0a;
}
.user-data p {
    font-size: 11px;
    font-weight: 300;
    color: #6a7282;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 4px;
}
.nav-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #6a7282;
    border-radius: 8px;
    text-decoration: none;
    padding: 5px 10px;
}
.nav-btn p {
    font-size: 12px;
    font-weight: 400;
}
.nav-btn.active, .nav-btn:hover {
    color: #0a0a0a;
    background-color: #f9fafb;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin-top: auto;
}
.info-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6a7282;
    border-radius: 8px;
    text-decoration: none;
    padding: 0px 10px;
    cursor: pointer;
    padding: 10px 10px;
}
.info-btn:hover {
    color: #0a0a0a;
    background-color: #f9fafb;
}
.info-btn p {
    font-size: 12px;
    font-weight: 400;
}